<?xml version="1.0"?>

<model>
  <name>Clutter Cylinder</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Javad Amirian</name>
    <email>amiryan.j@gmail.com</email>
  </author>

  <description>
    A cylinder model to be used as clutter in the environment.
  </description>
</model>
