<?xml version="1.0"?>

<model>
  <name>Round table</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Javad Amirian</name>
    <email>amiryan.j@gmail.com</email>
  </author>

  <description>
    A Round Table. Model from Areesh ul Arifeen (https://free3d.com/3d-model/3d-tablecloth-804689.html)
  </description>
</model>
