<?xml version="1.0"?>
<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find legibot)/worlds/restaurant.world"/>
    <arg name="paused" value="false"/>
    <arg name="verbose" value="true"/>
  </include>

  <include file="$(find legibot)/launch/spawn_pepper.launch" >
    <arg name="x" value="-3.0"/>
    <arg name="y" value="4.3"/>
    <arg name="yaw" value="-1.57"/>
  </include>

  <include file="$(find legibot)/launch/spawn_observer.launch" />

  <include file="$(find teleop_twist_joy)/launch/teleop.launch" />

  <node name="trajectory_controller_node" pkg="legibot" type="trajectory_controller.py" output="screen">
    <param name="goal" value="(-2.6,-7.1)"/>
  </node>

</launch>
