<?xml version="1.0"?>
<launch>


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find legibot)/worlds/restaurant.world"/>
    <arg name="paused" value="false"/>
    <arg name="verbose" value="true"/>
  </include>

  <include file="$(find legibot)/launch/spawn_pepper.launch" >
<!--     <arg name="x" value="0.0"/> -->
<!--     <arg name="y" value="0.0"/> -->
<!--     <arg name="z" value="0.0"/> -->
<!--     <arg name="roll" value="0.0"/> -->
<!--     <arg name="pitch" value="0.0"/> -->
<!--     <arg name="yaw" value="0.0"/> -->
  </include>

  <include file="$(find legibot)/launch/spawn_observer.launch" >
  </include>


</launch>
