<?xml version="1.0" encoding="UTF-8" ?>
<launch>
        <!-- setting up the world -->
	<arg name="x_pos" default="1.0"/>
  	<arg name="y_pos" default="2.0"/>
  	<arg name="z_pos" default="0.4"/>

	<param name="robot_description" command="$(find xacro)/xacro --inorder $(find legibot)/urdf/basic_bot.xacro" />
	<node  name="spawn_basicbot" pkg="gazebo_ros" type="spawn_model"
	      args="-urdf -param robot_description -model basic_bot -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos)" />

</launch>
